<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="costumefrenzy.nedteam.com.costumefrenzy" >
    <application android:icon="@drawable/ic_launcher" android:label="Test">
        <activity
            android:name="com.neddevteam.costumefrenzy.test.testActivity"
            android:exported="true"
        ></activity>
    </application>
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
</manifest>
